<p>This is bar list</p>
<!--
<p><%= @bar_array.size %></p>
<%  @bar_array.each do |bar| %>
    <%= "#{bar.time.strftime("%Y%m%dT%H%M%S")},#{bar.start},#{bar.high},#{bar.low},#{bar.close},#{bar.vol},#{bar.period}" %>
<%  end %>


-->
